html, body {
    background-color: #12001b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23434403' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23555555'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    color: rgb(224, 224, 0);
    font-family: 'Roboto', sans-serif; /*font-family: 'Oswald', sans-serif;*/
    margin: 0;                         /*font-family: 'Roboto', sans-serif;*/                          
    overflow-x: hidden;                /*font-family: 'Roboto Mono', monospace;*/
   }

main {
    width: 100%;
    height: 100%;
    margin: 15vh 0 0 10vw;
}

.intro, section, footer {
    font-size: 1em;
    line-height: 2rem;
}

.leftSide {
    width: 500px;
}

section {
    width: 100%;
    color:hsl(0, 0%, 58%);
    margin: 2rem 0 2rem 4rem;

}


.yellowBar {
    width: 495px;
    height: 6px;
    background-image: linear-gradient(to right, hsl(61, 100%, 60%), hsl(0, 0%, 100%));
    position: relative;
    left: 165px;
    top: 35px;
    border-radius: 5px;
}

.greeting {
    width: 425px;
    padding: 1rem 1rem 3rem 4rem;
    margin: 4rem 0 3.2rem 10rem;
    background-color: rgba(255, 255, 255, 0.032); 
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.209);

}

.greeting:hover, .skillSection:hover, .contactSection:hover, .projSection:hover {
    background-color: rgba(255, 255, 255, 0.075); 

}

.pb {
    max-width: 15rem;
    margin: -40rem 0 4rem 45rem;
    border-radius: 1rem 10rem 1rem 1rem;

}

h1 {
    font-family: 'Roboto Mono', monospace; 
    font-size: 50px;
  
}

.highlight {
    color: white;
}

a {
    text-decoration:none;
    color: rgb(224, 224, 0);
    font-family: 'Roboto Mono', monospace;
}

.navContainer {
    background-color: rgba(25, 25, 25, 0.701);
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
  
  .linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-left: 11rem;
    gap: 2.5rem;

}

.linksContainer a:hover, .github:hover {
        color: white;
        
  }
  
.logo {
    position: absolute;
    left: 7rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.375em;
  }

  button {
    font-weight: 400;
  }

  button:hover {
      background-image: linear-gradient(to left, rgb(255, 255, 255), hsl(313, 100%, 50%));
      transition: background-image 1s ease-in;
    }

  
  .invBtn {
    color: rgb(255, 255, 255);
    min-height: 2.5em;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    right: 8rem;
 }

 .portfolioBtn {
    color: white;
    min-height: 2.5em;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: -17.5rem;
    
 }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.skillSection { 
    background-color: rgba(25, 25, 25, 0.144);
    height: 30rem;
    display: flex;
    margin: 5rem 0 2rem 0;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.209);
}
   

.langBox {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-left: -550px;
}

.langLogo {
    width: 5rem;
    filter: invert(100%);
    margin: 2rem 0 0 2.2rem;
}

.langCircle {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(224, 224, 0);
    border-radius: 50%;
    margin: 5vh 0 0 0;
    
}

.langLabel {
    position: absolute;
    margin-top: 48vh;
    font-weight: 700;
}


footer {
    width: 100%;
    height: 20vh;
    background-color: black;
    color: rgba(255, 255, 255, 0.477); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.backFont {
    position: absolute;
    left: 12rem;
    bottom: -32rem;
    font-size: 22em;
    font-weight: 700;
    opacity: 5%;
    font-family: 'Roboto', monospace; 
    cursor: default;
    user-select: none;
     -moz-user-select: none; /* für Firefox */
     -webkit-user-select: none; /* für Chrome, Safari, und Opera */
     margin: auto;
}

.expBar {
    width: 200px;
    height: 10px;
    background-color: rgba(78, 78, 78, 0.557);
    position: absolute;
    margin-top: 38vh;
    border-radius: 10px;
    padding: 2px;
    
}

.exp1 {
    width: 180px;
    height: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    display: flex;
    justify-content: end;
    align-items: center;
}

.exp2 {
    width: 110px;
    height: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    display: flex;
    justify-content: end;
    align-items: center;
}

.exp3 {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    display: flex;
    justify-content: end;
    align-items: center;
}

.github {
    color: rgb(191, 191, 191);
    z-index: 1000;
}

.barCircle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    
    
}

.splitter {
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    bottom: 15rem;
    left: 40rem;
}

.splitterApp {
    color: white;
    font-family: 'Roboto', sans-serif;                        
}

.tryMeBtn {
    color: rgb(255, 255, 255);
    min-height: 2.5em;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    left: 4rem;
 }

.projHeader, .skillHeader {
    width: 100%;
    margin-left: 4rem;
    
}

.projSection {
    background-color: rgba(25, 25, 25, 0.144);
    height: 30rem;
    display: flex;
    margin-bottom: 2rem;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.209);
    gap: 5rem;
}


.contactSection {
    background-color: rgba(25, 25, 25, 0.144);
    height: 25rem;
    margin-bottom: 2rem;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.209);
  
}

.gitTitel {
    position: relative;
    left: -4%;
}

.contactRightside {
    width: 400px;
    height: 100px;
    padding: 20px;
    position: relative;
    left: 50%;
}

.card {
    width: 400px;
    height: 100px;
    padding: 20px;
    background-color: rgba(181, 181, 181, 0.092);
    border-radius: 10px;
    margin-bottom: -2rem;
    margin-left: -1.2rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
    margin-bottom: 0.5rem;
  
}


.iconContainer {
    width: 1.5rem;
    height: 100px;
}

.iconLink {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(100%);
    margin: 0 0.5rem -0.3rem 0;
}

.contactData {
    margin: -6.3rem 0 0 2.5rem;
}

.social {
    margin-top: 3rem;
}

.gitHeader {
        position: absolute;
        top: 85rem;
        font-size: 22em;
        font-weight: 700;
        opacity: 5%;
        font-family: 'Roboto', monospace; 
} 

@media only screen and (max-width: 767px) {


    h1 {
        font-size: 2rem;
    }


    .backFont, .invBtn {
        display: none;
    }

    .logo {
    position: absolute;
    left: 2rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
  }

  .navContainer {
    background-color: rgba(25, 25, 25, 0.701);
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
 
.linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-left: 11rem;
    gap: 0.5rem;
    font-size: 0.75em;
    display: none;

}

.greeting {
    width: 60%;
    padding: 1vh 10vw 3rem 10vw;
    margin: 2rem 0 -1.5rem 0rem;
    background-color: rgba(255, 255, 255, 0.032); 
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.209);
   
}

.pb{

   display: none;
}

.yellowBar {
    width: 80%;
    position: relative;
    left: 0px;
    top: 0px;
}

.portfolioBtn {
    color: white;
    min-height: 2.5em;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: -2vw;
    
 }

 footer {
        width: 100%;
        height: 20vh;
        background-color: black;
        color: rgba(255, 255, 255, 0.477); 
        display: flex;
        justify-content: center;
        align-items: center;
}

.footerText {
    width: 80%;
    text-align: center;
}

.skillSection { 
    background-color: rgba(25, 25, 25, 0.144);
    width: 80%;
    height: 100%;
    display: block;    
    margin: 5rem 0 2rem 0;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.209);
    
    
}

.contactSection {
    width: 80%;
    height: 22rem;

}

.projSection {
    background-color: rgba(25, 25, 25, 0.144);
    width: 80%;
    height: 45rem;
    margin-bottom: 2rem;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.209);
    gap: 5rem;
}

.skillHeader {
    width: 100%;
    margin-left: 10vw;
    padding: 1.75rem 1rem 0 0;
    
}


.projHeader {
    width: 200px;
    margin: 2rem 0 0 0.2rem;
}

.langBox {
    width: 200px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto 7rem auto; 

}

section {
    width: 100%;
    color:hsl(0, 0%, 58%);
    margin: 15rem 0 2rem 0vw;
    padding: rem;

}


.splitter {
    border-radius: 10px;
    position: relative;
    left: 0%;
    bottom: 33rem;
    margin: 0 auto;
 
    
}


.leftSide {
    width: 80%;
    margin: 0 auto;
}


.contactRightside {
    width: 280px;
    height: 100%;
    margin-left: -15rem;
    
}

.card {
    width: 200px;
    height: 100px;
    padding: 20px;
    background-color: rgba(181, 181, 181, 0.092);
    border-radius: 10px;
    margin-bottom: -2rem;
    margin-left: -1.2rem;
}

.contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.tryMeBtn {
    color: rgb(255, 255, 255);
    min-height: 2.5em;
    width: 10rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, hsl(61, 100%, 60%), hsl(313, 100%, 50%));
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    left: 20%;
 }

.social {
    width: 15rem;
}

    
}


